.escudo{
    text-indent:-10000px;
}

.medio-, .medio-escudo-padrao { float:left; }
.medio- .escudo, .medio-escudo-padrao .escudo{
    width:35px;
    height:35px;
    display:block; 
    background-image:url('/media/img/escudos/sprite_escudos_medio.gif');
    background-repeat:no-repeat;
    background-position:0 0;
    
}
.medio-atletico-go, .medio-atletico-mg, .medio-atletico-pr, .medio-avai, .medio-gremio-prudente, .medio-botafogo, .medio-ceara, .medio-corinthians, .medio-cruzeiro, .medio-flamengo, .medio-fluminense, .medio-goias, .medio-gremio, .medio-guarani, .medio-internacional, .medio-palmeiras, .medio-santos, .medio-sao-paulo, .medio-vasco, .medio-vitoria { 
    float:left;
}
.medio-atletico-go .escudo, .medio-atletico-mg .escudo, .medio-atletico-pr .escudo, .medio-avai .escudo, .medio-gremio-prudente .escudo, .medio-botafogo .escudo, .medio-ceara .escudo, .medio-corinthians .escudo, .medio-cruzeiro .escudo, .medio-flamengo .escudo, .medio-fluminense .escudo, .medio-goias .escudo, .medio-gremio .escudo, .medio-guarani .escudo, .medio-internacional .escudo, .medio-palmeiras .escudo, .medio-santos .escudo, .medio-sao-paulo .escudo, .medio-vasco .escudo, .medio-vitoria .escudo, {
    width:45px;
    height:45px;
    display:block; 
    background-image:url('/media/img/escudos/sprite_escudos.png');
    background-repeat:no-repeat;
}


.grande-, .grande-escudo-padrao { float:left; }
.grande- .escudo, .grande-escudo-padrao .escudo{
    width:45px;
    height:45px;
    text-indent:-10000px; 
    display:block;
    background-image:url('/media/img/escudos/sprite_escudos.png');
    background-repeat:no-repeat;
    background-position:0px -6px;
}
.grande-atletico-go, .grande-atletico-mg, .grande-atletico-pr, .grande-avai, .grande-gremio-prudente, .grande-botafogo, .grande-ceara, .grande-corinthians, .grande-cruzeiro, .grande-flamengo, .grande-fluminense, .grande-goias, .grande-gremio, .grande-guarani, .grande-internacional, .grande-palmeiras, .grande-santos, .grande-sao-paulo, .grande-vasco, .grande-vitoria { 
    float:left;
}
.grande-atletico-go .escudo, .grande-atletico-mg .escudo, .grande-atletico-pr .escudo, .grande-avai .escudo, .grande-gremio-prudente .escudo, .grande-botafogo .escudo, .grande-ceara .escudo, .grande-corinthians .escudo, .grande-cruzeiro .escudo, .grande-flamengo .escudo, .grande-fluminense .escudo, .grande-goias .escudo, .grande-gremio .escudo, .grande-guarani .escudo, .grande-internacional .escudo, .grande-palmeiras .escudo, .grande-santos .escudo, .grande-sao-paulo .escudo, .grande-vasco .escudo, .grande-vitoria .escudo {
    width:45px;
    height:45px;
    text-indent:-10000px; 
    display:block; 
    background-image:url('/media/img/escudos/sprite_escudos.png');
    background-repeat:no-repeat;
}

.medio-atletico-go .escudo {  background-position:0 -34px;}
.grande-atletico-go .escudo {  background-position:0 0px;}

.medio-atletico-mg .escudo {  background-position:0 -70px;}
.grande-atletico-mg .escudo {  background-position:0 -49px;}

.medio-atletico-pr .escudo {  background-position:0 -105px;}
.grande-atletico-pr .escudo {  background-position:0 -97px;}

.medio-avai .escudo {  background-position:0 -140px;}
.grande-avai .escudo {  background-position:0 -144px;}

.medio-gremio-prudente .escudo {  background-position:0 -175px;}
.grande-gremio-prudente .escudo { background-position:0 -577px;}

.medio-botafogo .escudo {  background-position:0 -212px;}
.grande-botafogo .escudo {  background-position:0 -193px;}

.medio-ceara .escudo {  background-position:0 -245px;}
.grande-ceara .escudo {  background-position:0 -240px;}

.medio-corinthians .escudo {  background-position:0 -281px;}
.grande-corinthians .escudo {  background-position:0 -289px;}

.medio-cruzeiro .escudo {  background-position:0 -316px;}
.grande-cruzeiro .escudo {  background-position:0 -336px;}

.medio-flamengo .escudo {  background-position:0 -351px;}
.grande-flamengo .escudo {  background-position:0 -384px;}

.medio-fluminense .escudo {  background-position:0 -387px;}
.grande-fluminense .escudo {  background-position:0 -433px;}

.medio-goias .escudo {  background-position:0 -422px;}
.grande-goias .escudo {  background-position:0 -480px;}

.medio-gremio .escudo {  background-position:0 -456px;}
.grande-gremio .escudo {  background-position:0 -528px;}

.medio-guarani .escudo {  background-position:0 -492px;}
.grande-guarani .escudo {  background-position:0 -624px;}

.medio-internacional .escudo {  background-position:0 -526px;}
.grande-internacional .escudo {  background-position:0 -671px;}

.medio-palmeiras .escudo {  background-position:0 -563px;}
.grande-palmeiras .escudo {  background-position:0 -721px;}

.medio-santos .escudo {  background-position:0 -595px;}
.grande-santos .escudo {  background-position:0 -768px;}

.medio-sao-paulo .escudo {  background-position:0 -630px;}
.grande-sao-paulo .escudo {  background-position:0 -816px;}

.medio-vasco .escudo {  background-position:0 -665px;}
.grande-vasco .escudo {  background-position:0 -864px;}

.medio-vitoria .escudo {  background-position:0 -701px;}
.grande-vitoria .escudo {  background-position:0 -913px;}