/* ---- reset 0.3 ---- */
*{ background:transparent;font-family:inherit; font-size:100%; margin:0; outline:0; padding:0;}
body{ background:#fff; line-height:1;}
table{ border-collapse:collapse;border-spacing:0;}
legend, hr{ display:none;}
li{ list-style:none;}
a{ text-decoration:none;}
caption, th{ text-align:left;}
caption{display:none;}
blockquote:before, blockquote:after, q:before, q:after{ content:""; content:none;}
blockquote, q{ quotes:"" "";}
abbr, acronym, img, fieldset{ border:0;}
sup{ vertical-align:text-top;}
sub{ vertical-align:text-bottom;}
input, textarea, select{ font-family:inherit;font-size:inherit;font-weight:inherit;}
img {border:0 none;}
/* ---- /reset 0.3 ---- */


/* ---- fonts 0.3 ---- */
body{ font:x-small arial, helvetica, freesans, sans-serif; *font-size:1.25ex;}
#glb-doc{ font-size:1.2em;}
select, input, textarea{ font:0.99em arial, helvetica, clean, sans-serif;}
/* ---- /fonts 0.3 ---- */

.desafio-title {font-size: 30px;letter-spacing: -1.79px;color: #666; border-bottom:2px solid #666666; margin-bottom:21px; padding-bottom:6px;}
.desafio-title span.mensagem-principal, .desafio-enviado span.mensagem-principal{font-weight: bold;}
.desafio-enviado {font-size: 18px;letter-spacing: -1px;color: #666; margin-bottom:6px;}
.nome-usuario-desafiado{font-size: 14px;letter-spacing: -1px;color: #666; font-weight: bold;vertical-align:top;}
.data-usuario-desafiado{font-size: 10px;letter-spacing: -0.2px;color: #666; }

/*.desafio {}*/

.super-sprite {text-indent:-10000px;display:block;background-image:url('/media/img/supercraques_sprite.png');background-repeat:no-repeat;background-position:0 0;}
.box-desafio-usuario {display:block;float:left;margin-right:60px}
.box-cards-desafio {display:block;float:left;}
.card {float:left;height:310px;width:222px;display:block;background-image:url('/media/img/bg_card.png');background-repeat:no-repeat;background-position:0 0;}
.card-banca {background-position:-232px 0px;margin-bottom:25px;margin-left:7px;}
.card-banca-menu {background-position:-232px 0px;margin-right:10px;cursor:pointer;}
.card-banca-menu:hover {background-position:-694px 0px;margin-right:10px;cursor:pointer;}
.card-desafio-enviado {background-position:-232px 0px;}
.card-desafio-enviado-aguardando {background-position:0 0px;}
.card-desafio-enviado-messagem {margin-left:30px; margin-top:80px;}
.card-desafio-recebido {background-position:0 0px;}
.card-desafio-recebido-aguardando {background-position:0 0px;}
.card-desafio-recebido-messagem {margin-left:15px; margin-top:80px;}
.card-desafio-versus {float:left;margin-top:111px;}
.messagem-aguardando-recebido {font-size: 20px;letter-spacing: -1.79px;color: #666;margin-bottom:20px;margin-top:10px;text-align:center;}
.messagem-aguardando-enviado {font-size: 20px;letter-spacing: -1.79px;color: #666;margin-bottom:20px;margin-top:10px;text-align:center;width:160px;}
.messagem-banca-de-cards {font-size: 27px;letter-spacing: -1.79px;color: #666;text-align:center;position:relative;top:81px;left:-279px;}
.img-alert {background-position:-118px -173px;height:17px;width:20px;margin-left:90px}
.img-versus {height:74px;width:100px;background-position:-183px 0;}
.img-interrogacao {height:94px;width:52px;background-position:-207px -100px;}
.btn-escolher-card {background-position:-297px -119px;height:32px;width:104px;float:left;}
.btn-pular-fora {background-position:-297px -163px;height:32px;width:84px;float:left;margin-left:5px;}
.btn-desafio-facebook {background-position:-297px -254px;color:#FFFFFF;font-size:15px;height:42px;margin-top:30px;padding-left:12px;padding-top:10px;text-align:center;text-indent:0;width:212px;}
.btn-cancelar-desafio {background-position:-297px -204px;height:32px;width:115px;float:left;margin-left:25px;}
.btn-desafiar-amigo {background-position:-298px -10px;height:37px;width:136px;float:left;margin-left:25px;}
.btn-desafiar-amigo:hover {background-position:-298px -62px;height:37px;width:136px;float:left;margin-left:25px;}
.btn-comprar-card {background-position:-518px -10px;height:52px;width:55px;float:right;position:relative;top:-213px;cursor:pointer;}
.btn-comprar-card:hover {background-position:-518px -72px;height:52px;width:55px;float:right;position:relative;top:-213px;cursor:pointer;}
.btn-descartar-card {background-position:-589px -10px;height:52px;width:55px;float:right;position:relative;top:-213px;cursor:pointer;}
.btn-descartar-card:hover {background-position:-589px -71px;height:52px;width:55px;float:right;position:relative;top:-213px;cursor:pointer;}
.escudo-atleta {position:relative;top:-30px;left:174px;z-index:5;}
.faixa-posicao {display:block;background-image:url('/media/img/faixa_jogador.png');background-repeat:no-repeat;background-position:0 0;position:relative;top:-20px;}
.faixa-posicao-nome {font-size: 14px;letter-spacing: -0.2px;color: #FFF;width:200px; }
.card-atleta-nome {font-size: 20px;letter-spacing: -0.2px;color: #666666; position:relative;top:-12px;}
.card-atleta-qualidade {font-size: 14px;letter-spacing: -0.2px;color: #666666; position:relative;top:6px;width:45px;text-align:center;}
.card-atleta-assiduidade {font-size: 14px;letter-spacing: -0.2px;color: #666666; position:relative;top:-11px;left:78px;width:45px;text-align:center;}
.card-atleta-disciplina {font-size: 14px;letter-spacing: -0.2px;color: #666666; position:relative;top:-27px;left:154px;width:45px;text-align:center;}
.meus-cards-barra {height: 250px;}
.valor-card{position: relative; top: -193px; z-index: 10; font-size: 18px;color:#FFF; right:-126px}
.img-um {background-position:-22px -234px;float:left;height:38px;margin-bottom:3px;margin-right:10px;margin-top:-4px;width:38px;}
.img-dois {background-position:-22px -284px;float:left;height:38px;margin-bottom:3px;margin-right:10px;margin-top:-4px;width:38px;}
#desafio-escolher-card {margin-bottom:10px;float:left;margin-right:40px;}
#desafio-escolher-amigo {margin-bottom:10px;margin-right:40px;opacity:0.4;}
#desafio-seq-card {font-size: 20px;letter-spacing: -1.79px;color: #666;}


/* ---- cabecalho-header ---- */
#glb-cabecalho {margin:0 auto;width:960px;padding-top: 10px}
.cabecalho-esquerda {float:left;width:300px;}
.cabecalho-direita {float: right;margin:0;width:200px;font-family: Helvetica,Arial;font-size: 12px;color: #fff;padding-top: 15px;}
.cabecalho-direita p {float: left;padding-top: 5px;}
.cabecalho-direita img {float: left;padding-right: 10px;}
#glb-topo{background-image: url('/media/img/bg_header.png'); height:83px;}
/* ----/cabecalho-header ---- */

/* ---- grid ---- */

#glb-doc{ text-align:center;width:100%}
#glb-corpo{min-height:500px}
.glb-conteudo{  margin:0 auto !important;width:92em;text-align:left}
/* ---- clear ---- */
.glb-bloco{ overflow:hidden;width:100%}
/* ---- units ---- */
.glb-grid-1, .glb-grid-2, .glb-grid-3, .glb-grid-4, .glb-grid-5, .glb-grid-6, .glb-grid-7, .glb-grid-8, .glb-grid-9, .glb-grid-10, .glb-grid-11, .glb-grid-12{  display:inline;float:left;margin:0 .833em}
.glb-grid-1{min-width:60px;width:5em}
.glb-grid-2{min-width:140px;width:11.665em}
.glb-grid-3{min-width:220px;width:18.333em}
.glb-grid-4{min-width:300px;width:25em;overflow:hidden}
.glb-grid-5{min-width:380px;width:31.665em}
.glb-grid-6{min-width:460px;width:38.333em}
.glb-grid-7{min-width:540px;width:45em}
.glb-grid-8{min-width:620px;width:51.665em}
.glb-grid-9{min-width:700px;width:58.333em}
.glb-grid-10{min-width:780px;width:65em}
.glb-grid-11{min-width:860px;width:71.665em}
.glb-grid-12{min-width:940px;width:78.333em}


.glb-primeiro{margin-left:0}
.glb-ultimo{margin-right:0}
/*#glb-cabecalho{background:none repeat scroll 0 0 #4E6E0B; height:40px; margin-bottom: 10px;}*/
.marca-produto{color:#FFFFFF}

/* ---- /grid ---- */

/* personalizacao do produto */
a, a * {
  color:#0044CC;
  cursor:pointer;
  text-decoration:none;
}
a:hover{text-decoration:underline;}


#glb-diretorio .glb-conteudo .glb-bloco{
  padding:20px 0;
}
#glb-diretorio .glb-conteudo ul li a{
  border-right:1px solid white;
  color:#FFF;
  font-size:0.92em;
  line-height:1.45em;
  padding:0 5px;
}
#glb-diretorio .glb-conteudo ul li.ultimo a{
  border-right:none;
}
#glb-diretorio .glb-conteudo ul li a:hover{
  text-decoration:underline;
}
#glb-diretorio .glb-conteudo ul li{
  display:inline;
}

#glb-rodape{
  overflow:hidden;
}
#glb-rodape .glb-conteudo{
  height:4.73em;
  padding-top:2.3em;
}


#glb-diretorio{
  background:#538428;
}
#glb-rodape, #glb-rodape ul li a, #glb-rodape ul li a:link, #glb-rodape ul li a:hover, #glb-rodape ul li a:visited{
  color:#FFF;
}
#glb-diretorio .glb-conteudo, #glb-rodape .glb-conteudo{
  text-align:center;
}
#glb-rodape div.copy{
  font-size:1em;
  height:5.2em;
  margin-top:-21px;
  text-align:right;
  width:55.5em;
}
#glb-rodape, #glb-rodape .glb-conteudo{
  background-color:#456E20;
}


a.featured {
  -moz-border-radius:3px 3px 3px 3px;
  background-color:#5795BD;
  color:#FFFFFF;
  display:inline-block;
  margin-top:1em;
  padding:2px 5px;
  width:100px;
  text-align:center;
}

.uiProfilePhotoMedium {height:32px;width:32px;}


.clear{
	/* This class clears the floats */
	clear:both;
}

#content-template-banca {margin-top:10px;border-top:1px solid #666666;padding-top:12px}
#containerBanca {margin-top:-44px;}

.atletaCard{
 float:left;
 border:1px solid #ddd;
 margin:5px;
}

.atletaCard:hover{
  border:1px solid #999;
  /* CSS3 inset shadow: */
  -moz-box-shadow:0 0 30px #999 inset;
  -webkit-box-shadow:0 0 30px #999 inset;
  box-shadow:0 0 30px #999 inset;
}

.ui-autocomplete-desafio { position: absolute; cursor: default; } 
.ui-autocomplete-desafio-loading { background: white url('/media/img/loading.gif') center center no-repeat; }

/* workarounds */
* html .ui-desafio-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */




/*  barra fixa de mercado */
#supercraque-rodape{
  bottom:0;
  left:0;
  position:fixed;
  width:100%;
  z-index: 9999999;
}
#supercraque-rodape .max{
  height:5.36em;
  background:transparent url(/media/img/backgrounds.png) repeat scroll 0 100px;
}
#supercraque-rodape .min{
    display:none;
  height:2.0em;
  background:#FFF url(/media/img/backgrounds.png) repeat scroll 0 6px;
}

#supercraque-rodape .conteudo .glb-conteudo-float{
  position:absolute;
  padding:2px 0;
  width: 960px;
}

#supercraque-rodape a {
  font-size:28px;
  font-weight:bold;
  letter-spacing:-0.01em;
  color: #4E6E0B;
}

#supercraque-rodape a:hover {
  color: #666;
}

#supercraque-rodape, #meus-cards-menu, #banca, #desafiar, #saldo {
  float: left;
  padding-top: 10px;
}

#supercraque-rodape #meus-cards-menu, #banca, #desafiar, #saldo {
  width: 220px;
  text-align: center;
  height: 52px;
}

#supercraque-rodape #meus-cards-menu .qtd-cards {
  background-image: url('/media/img/qtd_cards.png');
  color: #4E6E0B;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 8px 6px;
}

#supercraque-rodape #meus-cards-menu .seta-meus-cards {
  background-image: url('/media/img/seta_meuscards.gif');
  background-position:left center;
  background-repeat:no-repeat;
  height:5px;;
  padding:0 6px 0 11px;
}

#supercraque-rodape #saldo{
  background-color: #999;
}

#supercraque-rodape #saldo p{
  font-weight: bold;
  font-size: 14px;
  color: #E7E7E7;
}

#supercraque-rodape #saldo strong{
  font-size: 28px;
  color: #fff;
  font-weight: normal;
}

#supercraque-rodape #meus-cards-area {
  background: transparent url(/media/img/bg_meus_cards.png) repeat scroll top;
/*  height: 1.5em;*/
  padding: 1em;
  overflow: hidden; 
  display:none;
    color: #fff;
}

/*  /barra fixa de mercado */
