/* ---- reset 0.3 ---- */
*{ background:transparent;font-family:inherit; font-size:100%; margin:0; outline:0; padding:0;}
body{ background:#fff; line-height:1;}
table{ border-collapse:collapse;border-spacing:0;}
legend, hr{ display:none;}
li{ list-style:none;}
a{ text-decoration:none;}
caption, th{ text-align:left;}
caption{display:none;}
blockquote:before, blockquote:after, q:before, q:after{ content:""; content:none;}
blockquote, q{ quotes:"" "";}
abbr, acronym, img, fieldset{ border:0;}
sup{ vertical-align:text-top;}
sub{ vertical-align:text-bottom;}
input, textarea, select{ font-family:inherit;font-size:inherit;font-weight:inherit;}
img {border:0 none;}
/* ---- /reset 0.3 ---- */


/* ---- fonts 0.3 ---- */
body{ font:x-small arial, helvetica, freesans, sans-serif; *font-size:1.25ex;}
#glb-doc{ font-size:1.2em;}
select, input, textarea{ font:0.99em arial, helvetica, clean, sans-serif;}
/* ---- /fonts 0.3 ---- */

.desafio-title {font-size: 30px;letter-spacing: -1.79px;color: #666; border-bottom:2px solid #666666; margin-bottom:21px; padding-bottom:6px;}
.desafio-title span.mensagem-principal, .desafio-enviado span.mensagem-principal{font-weight: bold;}
.desafio-enviado {font-size: 18px;letter-spacing: -1px;color: #666; margin-bottom:6px;}
.nome-usuario-desafiado{font-size: 14px;letter-spacing: -1px;color: #666; font-weight: bold;vertical-align:top;}
.data-usuario-desafiado{font-size: 10px;letter-spacing: -0.2px;color: #666; }

/*.desafio {}*/

.super-sprite {text-indent:-10000px;display:block;background-image:url('/media/img/supercraques_sprite.png');background-repeat:no-repeat;background-position:0 0;}
.box-desafio-usuario {display:block;float:left;margin-right:60px}
.box-cards-desafio {display:block;float:left;}
.card {float:left;height:310px;width:222px;display:block;background-image:url('/media/img/bg_card.png');background-repeat:no-repeat;background-position:0 0;}
.card-banca {background-position:-232px 0px;margin-bottom:25px;margin-left:7px;}
.card-desafio-enviado {background-position:-232px 0px;}
.card-desafio-enviado-aguardando {background-position:0 0px;}
.card-desafio-enviado-messagem {margin-left:30px; margin-top:80px;}
.card-desafio-recebido {background-position:0 0px;}
.card-desafio-recebido-aguardando {background-position:0 0px;}
.card-desafio-recebido-messagem {margin-left:15px; margin-top:80px;}
.card-desafio-versus {float:left;margin-top:111px;}
.messagem-aguardando-recebido {font-size: 20px;letter-spacing: -1.79px;color: #666;margin-bottom:20px;margin-top:10px;text-align:center;}
.messagem-aguardando-enviado {font-size: 20px;letter-spacing: -1.79px;color: #666;margin-bottom:20px;margin-top:10px;text-align:center;width:160px;}
.messagem-banca-de-cards {font-size: 27px;letter-spacing: -1.79px;color: #666;text-align:center;position:relative;top:81px;left:-279px;}
.img-alert {background-position:-118px -173px;height:17px;width:20px;margin-left:90px}
.img-versus {height:74px;width:100px;background-position:-183px 0;}
.img-interrogacao {height:94px;width:52px;background-position:-207px -100px;}
.btn-escolher-card {background-position:-297px -119px;height:32px;width:104px;float:left;}
.btn-pular-fora {background-position:-297px -163px;height:32px;width:84px;float:left;margin-left:5px;}
.btn-desafio-facebook {background-position:-297px -254px;color:#FFFFFF;font-size:15px;height:42px;margin-top:30px;padding-left:12px;padding-top:10px;text-align:center;text-indent:0;width:212px;}
.btn-cancelar-desafio {background-position:-297px -204px;height:32px;width:115px;float:left;margin-left:25px;}
.btn-comprar-card {background-position:-518px -72px;height:52px;width:55px;float:right;position:relative;top:-213px;}
.btn-comprar-card:hover {background-position:-518px -10px;height:52px;width:55px;float:right;position:relative;top:-213px;}
.escudo-atleta {position:relative;top:-30px;left:174px;z-index:5;}
.faixa-posicao {display:block;background-image:url('/media/img/faixa_jogador.png');background-repeat:no-repeat;background-position:0 0;position:relative;top:-20px;}
.faixa-posicao-nome {font-size: 14px;letter-spacing: -0.2px;color: #FFF;width:200px; }
.card-atleta-nome {font-size: 20px;letter-spacing: -0.2px;color: #666666; position:relative;top:-12px;}
.card-atleta-qualidade {font-size: 14px;letter-spacing: -0.2px;color: #666666; position:relative;top:24px;width:45px;text-align:center;}
.card-atleta-assiduidade {font-size: 14px;letter-spacing: -0.2px;color: #666666; position:relative;top:7px;left:78px;width:45px;text-align:center;}
.card-atleta-disciplina {font-size: 14px;letter-spacing: -0.2px;color: #666666; position:relative;top:-9px;left:154px;width:45px;text-align:center;}

/* ---- cabecalho-header ---- */
#glb-cabecalho {margin:0 auto;width:960px;padding-top: 10px}
.cabecalho-esquerda {float:left;width:300px;}
.cabecalho-direita {float: right;margin:0;width:200px;font-family: Helvetica,Arial;font-size: 12px;color: #fff;padding-top: 15px;}
.cabecalho-direita p {float: left;padding-top: 5px;}
.cabecalho-direita img {float: left;padding-right: 10px;}
#glb-topo{background-image: url('/media/img/bg_header.png'); height:83px;}
/* ----/cabecalho-header ---- */

/* ---- grid ---- */

#glb-doc{ text-align:center;width:100%}
#glb-corpo{min-height:500px}
.glb-conteudo{  margin:0 auto !important;width:92em;text-align:left}
/* ---- clear ---- */
.glb-bloco{ overflow:hidden;width:100%}
/* ---- units ---- */
.glb-grid-1, .glb-grid-2, .glb-grid-3, .glb-grid-4, .glb-grid-5, .glb-grid-6, .glb-grid-7, .glb-grid-8, .glb-grid-9, .glb-grid-10, .glb-grid-11, .glb-grid-12{  display:inline;float:left;margin:0 .833em}
.glb-grid-1{min-width:60px;width:5em}
.glb-grid-2{min-width:140px;width:11.665em}
.glb-grid-3{min-width:220px;width:18.333em}
.glb-grid-4{min-width:300px;width:25em;overflow:hidden}
.glb-grid-5{min-width:380px;width:31.665em}
.glb-grid-6{min-width:460px;width:38.333em}
.glb-grid-7{min-width:540px;width:45em}
.glb-grid-8{min-width:620px;width:51.665em}
.glb-grid-9{min-width:700px;width:58.333em}
.glb-grid-10{min-width:780px;width:65em}
.glb-grid-11{min-width:860px;width:71.665em}
.glb-grid-12{min-width:940px;width:78.333em}


.glb-primeiro{margin-left:0}
.glb-ultimo{margin-right:0}
/*#glb-cabecalho{background:none repeat scroll 0 0 #4E6E0B; height:40px; margin-bottom: 10px;}*/
.marca-produto{color:#FFFFFF}

/* ---- /grid ---- */

/* personalizacao do produto */
a, a * {
  color:#0044CC;
  cursor:pointer;
  text-decoration:none;
}
a:hover{text-decoration:underline;}


#glb-diretorio .glb-conteudo .glb-bloco{
  padding:20px 0;
}
#glb-diretorio .glb-conteudo ul li a{
  border-right:1px solid white;
  color:#FFF;
  font-size:0.92em;
  line-height:1.45em;
  padding:0 5px;
}
#glb-diretorio .glb-conteudo ul li.ultimo a{
  border-right:none;
}
#glb-diretorio .glb-conteudo ul li a:hover{
  text-decoration:underline;
}
#glb-diretorio .glb-conteudo ul li{
  display:inline;
}

#glb-rodape{
  overflow:hidden;
}
#glb-rodape .glb-conteudo{
  height:4.73em;
  padding-top:2.3em;
}


#glb-diretorio{
  background:#538428;
}
#glb-rodape, #glb-rodape ul li a, #glb-rodape ul li a:link, #glb-rodape ul li a:hover, #glb-rodape ul li a:visited{
  color:#FFF;
}
#glb-diretorio .glb-conteudo, #glb-rodape .glb-conteudo{
  text-align:center;
}
#glb-rodape div.copy{
  font-size:1em;
  height:5.2em;
  margin-top:-21px;
  text-align:right;
  width:55.5em;
}
#glb-rodape, #glb-rodape .glb-conteudo{
  background-color:#456E20;
}


a.featured {
  -moz-border-radius:3px 3px 3px 3px;
  background-color:#5795BD;
  color:#FFFFFF;
  display:inline-block;
  margin-top:1em;
  padding:2px 5px;
  width:100px;
  text-align:center;
}

.uiProfilePhotoMedium {height:32px;width:32px;}


/* ---- Flip Card ---- */
.sponsorListHolder{
	margin-bottom:30px;
}

.sponsor{
	width:180px;
	height:180px;
	float:left;
	margin:4px;
	
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
	background:url("/media/img/background.jpg") no-repeat center center #f9f9f9;
}

.sponsorFlip:hover{
	border:1px solid #999;
	
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;
}

.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
	
	#position:absolute;
	top:50%;
	left:50%;
	margin:6px 0px 0 60px;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}

.sponsorDescription{
	font-size:11px;
	padding:50px 10px 20px 20px;
	font-style:italic;
}

.sponsorURL{
	font-size:10px;
	font-weight:bold;
	padding-left:20px;
}
/* ---- /Flip Card ---- */


.clear{
	/* This class clears the floats */
	clear:both;
}

#content-template-banca {margin-top:10px;border-top:1px solid #666666;padding-top:12px}
#containerBanca {margin-top:-44px;}

.atletaCard{
 float:left;
 border:1px solid #ddd;
 margin:5px;
}

.atletaCard:hover{
  border:1px solid #999;
  /* CSS3 inset shadow: */
  -moz-box-shadow:0 0 30px #999 inset;
  -webkit-box-shadow:0 0 30px #999 inset;
  box-shadow:0 0 30px #999 inset;
}

.ui-autocomplete-desafio { position: absolute; cursor: default; } 
.ui-autocomplete-desafio-loading { background: white url('/media/img/loading.gif') center center no-repeat; }

/* workarounds */
* html .ui-desafio-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */




/*  barra fixa de mercado */

#supercraque-rodape{
  bottom:0;
  color:#909090;
  left:0;
  /*verflow:hidden;*/
  position:fixed;
  width:100%;
  z-index: 9999999;
}
#supercraque-rodape .max{
  height:5.36em;
  background:transparent url(/media/img/backgrounds.png) repeat scroll 0 100px;
}
#supercraque-rodape .min{
    display:none;
  height:2.0em;
  background:#FFF url(/media/img/backgrounds.png) repeat scroll 0 6px;
}
#supercraque-rodape .alerta {
  background: transparent url(/media/img/bg_filete_aviso.gif) repeat scroll top;
  height: 1.5em;
  padding: 1em;
  overflow: hidden; 
  display:none;
    color: #fff;
}
#supercraque-rodape .alerta .alerta-mensagem{
    background:transparent url(/media/img/icones.png) no-repeat scroll -76px -325px;
    float:left;
    font-size:1.168em;
    font-weight:bold;
    line-height: 22px;
    margin-left:20em;
    padding-left:2em;
    width:66.7em;
}
#supercraque-rodape .alerta .alerta-mensagem span{
  color: #fff;
}
#supercraque-rodape .conteudo .glb-conteudo-float{
  position:absolute;
    padding:1em 0;
}
#supercraque-rodape .tapume-rodape{
  width: 100%;
    height: 100%;
    border: 0px!important;
}
#supercraque-rodape strong{
  display:block;
}
#supercraque-rodape .dados,
#supercraque-rodape .do-seutime,
#supercraque-rodape .financeiro-do-seutime,
#supercraque-rodape .status-mercado,
#supercraque-rodape .time-status,
#supercraque-rodape .status-rodape{
  float:left;
  letter-spacing:-0.01em;
}
#supercraque-rodape .financeiro-do-seutime{
  font-size:1.15em;
  margin:0 1.2em;
  margin-right:0;
  width:6em;
}
#supercraque-rodape .do-seutime{
  font-size:1.15em;
  margin:0 0.8em;
  margin-right:0;
  width:4.9em;
}
#supercraque-rodape .do-seutime strong, #supercraque-rodape .financeiro-do-seutime strong{
  color:#666;
  font-size:16px;
  letter-spacing:-0.07em;
}
#supercraque-rodape .dados{
  border-left:1px solid #D8D8D8;
  font-size:11px;
  font-weight:bold;
  padding:0 1em;
  width:8.5em;
  *width:7.5em;
}
#supercraque-rodape .dados strong{
  color:#757575;
  font-size:1.15em;
  font-weight:normal;
  padding-top:3px;
}
#supercraque-rodape .preco, #supercraque-rodape .cofre, #supercraque-rodape .patrimonio{
  background:transparent url(/media/img/icones.png) repeat-x scroll 0 0;
  display:block;
  float:left;
  height:2em;
  width:2.3em;
}
#supercraque-rodape .cofre{
  background:transparent url(/media/img/icones.png) repeat-x scroll -23px 0;
}
#supercraque-rodape .patrimonio{
  background:transparent url(/media/img/icones.png) repeat-x scroll -54px 0;
  margin-right:6px;
}
#supercraque-rodape .time-status{
    width:13.1em;
    margin:0 10px 3px 0px;
}
#supercraque-rodape .escalar, #supercraque-rodape .time-escalado, #supercraque-rodape .time-desfalcado{
  border:1px solid #DDD;
  border-bottom-color: #B6B6B6;
  display:none;
  font-size:1.2em;
  font-weight:bold;
  padding-top: 5px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  height:2.96em;
}
#supercraque-rodape .escalar{
  background:url(/media/img/bg_escalar_time.gif) no-repeat;
  color:#3F9F0F;
  height:2.45em;
  padding-top:1em; 
    text-align:center;
    border:none;
}
#supercraque-rodape .escalar a{
    color:#FFF;
    font-size: 0.8em;
}
#supercraque-rodape .escalar img{
    margin-top:-0.5em;
}
#supercraque-rodape .time-escalado,#supercraque-rodape .time-desfalcado{
  height:2.65em;
  padding-top:0.57em; 
}
#supercraque-rodape .time-escalado div{
  margin-left:0.7em;
  width: 5em;
  float: left;
}
#supercraque-rodape .time-escalado .time-escalado-social{
  margin: 4px 0;
  float: right;
  width: 4.5em;
}
#supercraque-rodape .time-escalado .time-escalado-social .time-escalado-social-div{
  margin:0;
  float: left;
  width: 1px;
}
#supercraque-rodape .time-escalado .time-escalado-social .time-escalado-social-twitter{
  margin:0 4px;
  float: left;
  width: 21px;
}
#supercraque-rodape .time-escalado .time-escalado-social .time-escalado-social-facebook{
  margin:0 5px;
  float: left;
  width: 21px;
}
#supercraque-rodape .time-desfalcado div{
  margin-left:1.5em;
  margin-top: 0.5em;
}
#supercraque-rodape .time-escalado span, #supercraque-rodape .time-desfalcado span{
  float:left;
  font-size:11px;
  margin-left:7px;
}
#supercraque-rodape .time-escalado span.nome-do-time, #supercraque-rodape .time-desfalcado span.nome-do-time{
  margin-top: 3px;
  position: absolute;
  clip: rect(0px 110px 15px 0px);
}
#supercraque-rodape .time-escalado strong{
  color:#3F9F0F;
  font-size: 0.8em;
}
#supercraque-rodape .time-desfalcado strong{
  color:#C10B0B;
  font-size: 0.8em;
}
#supercraque-rodape .status-mercado{
  color:#FFF;
  margin-left:0.9em;
    width:19.634em;
}
#supercraque-rodape .status-mercado div{
  font-weight:bold;
  height:29px; 
  padding: 9px; 
}
#supercraque-rodape .status-mercado div.mercado-fechado, #supercraque-rodape .status-mercado div.mercado-aberto, #supercraque-rodape .status-mercado div.mercado-fechamento{
  border:1px solid;
  float:left;
  font-size:11px; 
  text-align:center; 
  text-transform: uppercase; 
  width: 6em;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
}
#supercraque-rodape .status-mercado div.mercado-fechado{
  background-color:#E00;
  border-color:#E00;
}
#supercraque-rodape .status-mercado div.mercado-aberto{
  background-color:#360; 
  border-color:#360;
}
#supercraque-rodape .status-mercado div.mercado-fechamento{
  background-color:#CA5716; 
  border-color:#CA5716;
}
#supercraque-rodape .status-mercado div.abertura,#supercraque-rodape .status-mercado div.escale,#supercraque-rodape .status-mercado div.abre-em{
  border:1px solid;
  font-size:1em;
  float:right; 
  width:10.8em;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
}
#supercraque-rodape .status-mercado div.abertura{
  background-color:#000;
  border-color:#000;
}
#supercraque-rodape .status-mercado div.escale{
  background-color:#390;
  border-color:#390;
  height:3.25em;
  padding:4px 9px;
}
#supercraque-rodape .status-mercado div.abre-em{
  background: #000 url(/media/img/bg_fecto_mercado.jpg) no-repeat scroll 0 0;
  border-color:#000;
  height:2.42em;
}
#supercraque-rodape .status-mercado div.escale strong{
  font-size:14px;
}
#supercraque-rodape .status-mercado div.escale span{
  display:block; 
  font-size:11px;
  font-weight:normal; 
  line-height:10px;
}
#supercraque-rodape .status-mercado div.abre-em span{
  color:#FFF;
  display:block;
  font-size:2.2em;
  letter-spacing:2px;
  margin-left:4px;
  padding-top:7px;
}
#supercraque-rodape .status-rodape{
  margin-left:1em;
}
#supercraque-rodape .linha{
  background-color:#D8D8D8;
  float:left;
  height:5.178em;
  margin-top:-10px;
  width:2px;
}
#supercraque-rodape .rodape-oferecimento{
    left:692px;
    margin-bottom:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
    margin-top:-73px;
    padding:0 !important;
    position:absolute;
    top:6px;
    display:none;
}
#supercraque-rodape .rodape-oferecimento div{
  padding:0 !important;
  margin:0 !important;
  height:auto !important;
}
#supercraque-rodape .conteudo .financeiro{
  margin:0!important;
}
#supercraque-rodape .min .status-rodape{
  float:right;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:11px;
  height:18px;
  padding: 3px;
    width:9.3em;
}
#supercraque-rodape .min .status-rodape div{
    float:left;
    margin:3px;
}
#supercraque-rodape .min .status-rodape a{
    float:right;
    margin-top:1px;
}

/*  /barra fixa de mercado */
