<%inherit file="/base.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
	<script type="text/javascript" src="/media/js/jquery.flip.min.js"></script>
    
    <script type="text/javascript"><!--
	$(function() {	
		
		// Vai para o primeiro option do combo de servicos
		$("#equipes option:first").attr("selected", "selected");
		
		$('.btn_comprar').live("click",function(){
        var $elem = $(this);
        $.ajax({
            url: "/atleta/"+ $elem.attr("atleta_id") + "/comprar",
            success: function(data) {
              alert(data.sucesso + " - " + data.message);
              // $elem.hide();
            },
            error:function(x,e) {
              alert("errosr:" + e);
            }
          });
		});
		
		$('.sponsorFlip').live("click",function(){
			// $(this) point to the clicked .sponsorFlip element (caching it in elem for speed):
			var elem = $(this);
			// data('flipped') is a flag we set when we flip the element:
			if(elem.data('flipped'))
			{
				// If the element has already been flipped, use the revertFlip method
				// defined by the plug-in to revert to the default state automatically:
				elem.revertFlip();
				// Unsetting the flag:
				elem.data('flipped',false)
			}
			else
			{
				// Using the flip method defined by the plugin:
				elem.flip({
					direction:'lr',
					speed: 350,
					onBefore: function(){
						// Insert the contents of the .sponsorData div (hidden from view with display:none)
						// into the clicked .sponsorFlip div before the flipping animation starts:
						
						elem.html(elem.siblings('.sponsorData').html());
					}
				});
				// Setting the flag:
				elem.data('flipped',true);
			}
		});
	
		
		var $contenTemplate = $("#content-template");
		var $cardTemplate = $("#cardTemplate");
		
		// Carrega os parametros do metodo escolhido
		$("#equipes").bind('change keyup',function() {
			equipe_id = $(this).val()
			if (equipe_id != "") {
			
         $.ajax({
					  url: "/equipe/"+ equipe_id + "/atletas.json",
					  success: function(data) {
      				$contenTemplate.html("");
              $cardTemplate.tmpl( data ).appendTo($contenTemplate);
							$contenTemplate.show();
					  },
					  error:function(x,e) {
						  alert(data);
					  }
					});
			}
		});
		
	});
		
	--></script>
    
</%def>



<%def name="content()">

	<form class="form-filtro" action="" method="post">
		<fieldset>
	    <legend>filtro de jogadores</legend>
	    <select id="equipes" name="equipes">
	        <option value="">Time</option>
    			% for equipe in equipes:
    				<option value="${equipe['equipe_id']}">${equipe['nome_popular']}</option>
    			% endfor
	        </select>
	    </fieldset>
	</form>
	
	<div class="conteudo-jogadores">
		<div id="jogadores-lista" class="conteudo-jogadores-lista">
	    	<div id="content-template" style="display:none"></div>
		</div>
	</div> 

<script id="cardTemplate" type="text/x-jquery-tmpl">
    <div class="sponsor" title="Click to flip">
      <div class="sponsorFlip">
        <img height="60" width="60" border="0" src="{{= img}}">
        <BR>
        <div class="player">Nome: {{= nome}}</div>
        <div class="position">Posicao: {{= posicao}}</div>
        <div class="num">Qualidade: {{= qualidade}}</div>
        <div class="num">Assiduidade: {{= assiduidade}}</div>
        <div class="num">Disciplina: {{= disciplina}}</div>
        {{if possui == false}}<a href="javascript:void(0);"><img style="margin-left:120px;margin-top:-20px" border="0" src="/media/img/btn_comprar.jpg" class="btn_comprar" atleta_id="{{= atleta_id}}"></a>{{/if}}
      </div>
      <div class="sponsorData">NADA AINDA</div>
    </div>
</script>    
    
</%def>

