<%inherit file="/base_logado.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="/media/css/mercados.css" />

</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
    <script type="text/javascript" src="/media/js/dropdown.js"></script>
    <script type="text/javascript" src="/media/js/banca.js"></script>
    <script type="text/javascript" src="/media/js/cufon-yui.js"></script>
    
    
<script type="text/javascript">
<!--
	$(function() {	
		
		var supercraques = $("#supercraque-rodape").barra({}, true);
		
		$('.btn_comprar').live("click",function(){
        supercraques.comprarCard($(this).attr("atleta_id"));
		});
		
	});
		
--></script>
    
</%def>


<%def name="content()">

<div id="containerBanca">
  <span class="messagem-banca-de-cards"><b>banca</b> de cards</span>
  <div class="box-filtros-mercado">
          <div id="filtros-time-mercado" class="filtros-mercado">
            <span class="canto-te"></span>
            <span class="canto-td"></span>
            <span class="canto-re"></span>
            <span class="canto-rd"></span>
            <div class="filtros-grupo-botao">
              <span id="filtros-atual-time-mercado" class="filtros-atual-label">
              todos os <strong>times</strong>
              </span>
              <span class="seta-filtro"></span>
              <input type="hidden" name="filtroTime" id="filtroTime" value=""/>
            </div>
            <div class="dropdown-filtro" id="dropdown-times" style="display: none;">
                <ul id="lista-times">
                </ul>
                <div class="dropdown-template">
                     <li style="" class="lista-itens dropdown-time medio-escudo-padrao medio-{{= slug}}" rel="{{= nome_popular}}">
                       <div class="escudo" alt="{{= nome_popular}}"></div>
                    </li>
                </div>
                <div class="dropdown-todos">todos os times</div>
            </div>
          </div>
          <div id="filtros-posicao-mercado" class="filtros-mercado filtros-mercado-ultimo" >
            <span class="canto-te"></span>
            <span class="canto-td"></span>
            <span class="canto-re"></span>
            <span class="canto-rd"></span>
            <div class="filtros-grupo-botao">
              <span id="filtros-atual-posicao-transfer" class="filtros-atual-label">
              todas as <strong>posi&ccedil;&otilde;es</strong>
              </span>
              <span class="seta-filtro"></span>
              <input type="hidden" name="filtroPosicao" id="filtroPosicao" value=""/>
            </div>
            <div class="dropdown-filtro" id="dropdown-posicoes" style="display: none;">
                <ul id="lista-posicoes">
                </ul>
                <div class="dropdown-template">
                   <li style="" class="lista-itens dropdown-posicoes" rel="{{= sigla}}">
                   {{= nome_completo}}
                   </li>
                </div>
                <div class="dropdown-todos"><strong>todas as posi&ccedil;&otilde;es</strong></div>
            </div>
          </div>
   </div>
   
  <div id="content-template-banca"></div>
  <div id="content-loading" class="ui-autocomplete-desafio-loading" style="overflow:auto;display:none;height:200px;"></div>
</div>
          
	
<script id="cardTemplate" type="text/x-jquery-tmpl">
    <div class="card card-banca">
        <div style="margin-top:10px;margin-left:10px">
          <img height="200" width="200" border="0" src="/media/img/jogador_default.jpg">
          <span class="super-sprite btn-comprar-card"></span>
          <div class="escudo-atleta medio-escudo-padrao medio-{{= equipe.slug}}"><div class="escudo" alt="{{= equipe.nome_popular}}"></div></div>
          <div class="faixa-posicao faixa-posicao-nome">{{= posicao}}</div>
          <div class="card-atleta-nome">{{= nome}}</div>
          <div>
            <div class="card-atleta-qualidade">{{= qualidade}}</div>
            <div class="card-atleta-assiduidade">{{= assiduidade}}</div>
            <div class="card-atleta-disciplina">{{= disciplina}}</div>
          {{if possui == false}}<a href="javascript:void(0);"><img style="display:none;margin-left:120px;margin-top:-20px" border="0" src="/media/img/btn_comprar.jpg" class="btn_comprar" atleta_id="{{= atleta_id}}"></a>{{/if}}
          </div>
        </div>
    </div>
</script>    

    

</%def>

