<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xml:lang="pt-br" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Super Craques</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%def name="css()">
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/supercraques.css" />
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cupertino/jquery-ui-1.8.6.custom.css" />
    </%def>
    ${next.css()}

    <%def name="javascript()">
		<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery.media.share.js"></script>
		<script type="text/javascript" src="/media/js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery.tmplplus.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
    </%def>
    ${next.javascript()}
</head>


<body>

    <div id="glb-doc">
        <div id="glb-topo">
        
            <!-- header -->
            <div id="glb-cabecalho">
	            <div class="cabecalho-direita">
		            <div class="cabecalho-esquerda">
		                <div class="glb-conteudo">
	                        <h1><a class="marca-produto" title="Home do Super Craques" href="http://supercraques.com.br:8082/home">Super Craques</a></h1>
		                </div>
		            </div>
	            </div>
            </div>
            <!-- /header -->
            
        </div>

        <div id="glb-corpo">
            <div class="glb-conteudo">

                <!-- content -->
                ${self.content()}
                <!-- /content -->

            </div>
        </div>

        
        <!-- rodape -->
        <%def name="rodape()">
	        <div id="supercraque-rodape">
	            <div class="min">
                  <div class="glb-conteudo">
                      <div class="status-rodape"><div>ampliar barra</div><a class="barra" title="ampliar barra" href="#"><img width="18" height="18" alt="seta" src="/media/img/icon_menos.gif"></a></div>
                  </div>
              </div>
              <div class="max">
                  <div id="glb-time-dados" class="glb-conteudo conteudo">
                      <div class="glb-conteudo-float">
                          <div id="meus-cards" class="dados">
                              <a href="/cards">Meus cards</a>
                          </div> 
                          <div id="banca" class="dados">
                              <a href="/banca">Banca</a>
                          </div> 
                          <div id="desafiar" class="dados">
                              <a href="#">Desafiar</a>
                          </div> 
                          <div class="status-rodape"><a class="barra" title="diminuir barra" href="#"><img width="18" height="18" alt="seta" src="/media/img/icon_mais.gif"></a></div>
                      </div>
                  </div>        
              </div>
	        </div>
    	</%def>
    	${next.rodape()}
        <!-- / rodape -->
        
    </div>

	
	
	
	
	
    
  <div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script>
	  FB.init({
	    appId  : '166942923329088',
	    status : true, // check login status
	    cookie : true, // enable cookies to allow the server to access the session
	    xfbml  : true  // parse XFBML
	   });
	</script>
	
</body>
</html>
