<%inherit file="/base_logado.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
    <script type="text/javascript"><!--
	$(function() {	

    var barra = $("#supercraque-rodape").barra({}, true);
    
    var card_selecionado_id = null;
    $('.sponsor').live("click",function(){
        card_selecionado_id = $(this).attr("data");    
     });

    $('.btn_comprar').live("click",function(){
        var $elem = $(this);
        $.ajax({
            url: "/desafio/card/" + card_selecionado_id + "/usuario_desafiado/"+ $elem.attr("usuario_id") + "/desafiar",
            success: function(data) {
                $("#glb-doc").showMessage({response:data});
            },
            error:function(x,e) {
              $("#glb-doc").showMessage();
            }
          });
    });
      
      var $contenTemplate = $("#content-template");
      var $cardTemplate = $("#friendTemplate");

      FB.api('/me/friends', function(response) {
          $contenTemplate.empty();
          $cardTemplate.tmpl( response.data ).appendTo($contenTemplate);
          $contenTemplate.show();
      });
        
	});
		
	--></script>
    
</%def>



<%def name="content()">
  DESAFIAR AMIGOS<BR>
	<div class="glb-bloco">
		<%include file="/box/box_cards.html"/>
	</div>
  <br />

<div style="clear:both"></div>
<div id="content-template" style="display:none; height:250px;width:300px; overflow:auto"></div>


<BR>AMIGOS
<script id="friendTemplate" type="text/x-jquery-tmpl">
    <div>
        <img height="60" width="60" border="0"  src="https://graph.facebook.com/{{= id}}/picture" >
        {{= name}}
      <a href="javascript:void(0);"><img border="0" src="/media/img/ico_jogar.gif" class="btn_comprar" usuario_id="{{= id}}"></a>
    </div>
</script>    


</%def>

