<%inherit file="/base.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
    <script type="text/javascript"><!--
	$(function() {	
        //bind dos botoes do social
        //$(".share-button a").mediaShare();
        var profilePicsDiv = document.getElementById('profile_pics');
        `100001830967449
        $(".share-button a").click(function(){
        	
	        FB.login(function(response) {
	        	  if (response.session) {
	        	    if (response.perms) {
	        	    	
	        	    	FB.api({ method: 'friends.get' }, function(result) {
	        	    		//alert(result);
	        	    		//console.log('friends.get response', result);
	        	    	    var markup = '';
	        	    	    var numFriends = result ? Math.min(5, result.length) : 0;
	        	    	    if (numFriends > 0) {
	        	    	      for (var i=0; i<numFriends; i++) {
	        	    	        markup += (
	        	    	          '<fb:profile-pic size="square" ' +
	        	    	                          'uid="' + result[i] + '" ' +
	        	    	                          'facebook-logo="true"' +
	        	    	          '></fb:profile-pic>'
	        	    	        );
	        	    	      }
	        	    	    }
	        	    	    profilePicsDiv.innerHTML = markup;
	        	    	    FB.XFBML.parse(profilePicsDiv);
	        	    	  });
	        	    	
	        	    	//console.log("permissao ACEITA");
	        	      // user is logged in and granted some permissions.
	        	      // perms is a comma separated list of granted permissions
	        	    } else {
	        	    	//console.log("permissao NEGADA");
	        	    	alert("permissao NEGADA");
	        	      // user is logged in, but did not grant any permissions
	        	    }
	        	  } else {
	        		  //console.log("usuario NAO ESTA LOGADO");
	        		  alert("usuario NAO ESTA LOGADO");
	        	    // user is not logged in
	        	  }
	        	}, {perms:'read_stream,publish_stream,offline_access'});
        	
        	
        	
        });
        
        
        

        // if we have a session, query for the user's profile picture and name
        FB.api(
          {
            method: 'fql.query',
            query: 'SELECT name, pic FROM profile WHERE id=' +  
          },
          function(response) {
            var user = response[0];
            $('#user-info').html('<img src="' + user.pic + '">' + user.name).show('fast');
          }
        );

        
	});
		
	--></script>
    
</%def>



<%def name="content()">

Desafios

<div class='tweet-button share-button'>
	<img src="/media/img/social_div.gif" /> <a href='javascript:void(0)' class='twitter' data-text="Janilton super craque twitter!" data-url="http://cartolafc.globo.com/time/abc" title='Compartilhar super craques no Twitter'><img src="/media/img/twitter_ico.gif" alt='Compartilhar minha pontua&ccedil;&atilde;o no Twitter' /></a>
	<img src="/media/img/social_div.gif" /> <a href='javascript:void(0)' class='facebook' data-text="Janilton super craque facebook" data-url="http://www.supercraques.com.br/" data-url-name="chico" title='Compartilhar minha pontua&ccedil;&atilde;o no Facebook'><img src="/media/img/facebook_ico.gif" alt='Compartilhar minha pontua&ccedil;&atilde;o no Facebook' /></a>
</div>				

<div id="profile_pics"></div>

  	
    	<form class="form-busca-jogadores" action="" method="post">
	    <fieldset>
	        <legend>busca de jogadores</legend>
	        <label for="nome-jogador">buscar</label>
	        <input type="text" value="busca por jogador" maxlength="250" id="nome-jogador" name="nome-jogador"><button id="btn-buscar" name="b" type="submit">buscar</button>            
	    </fieldset>
	</form>
    

<fb:serverFbml>
<script type="text/fbml">
<fb:fbml>


    <fb:request-form    method="POST" 
                        target= "_top"
                        action="http://apps.facebook.com/xxxx/landing.html" 
                        type="xxxx" 
                        content="xxx"> 
        <fb:multi-friend-selector   rows="3" 
                                    cols="3" 
                                    style="width: 350px;" 
                                    email_invite="false"
                                    target="_top"
                                    actiontext="xxx"> 
        </fb:multi-friend-selector>
    </fb:request-form>
    

</fb:fbml>
</script>
</fb:serverFbml>

 
 
 <fb:serverfbml> 
<script type="text/fbml">
    <fb:fbml> 
        <fb:request-form
                action="http://supercraques.com.br:8082/home"
                method="POST"
                invite="true"
                type="Super Craques"
                content="Try out my app!
                        <fb:req-choice url='http://your-facebook-canvas-url'
                        label='ABC'
                        /> 
                " > 
                <fb:multi-friend-selector
                        showborder="false"
                        actiontext="Convite seu amigo para jogar"
                        rows="3"
                        cols="3"
                        bypass="Cancel"
                        actiontext="teste neoenoe"
                        style="width: 350px;"
                /> 
        </fb:request-form> 
    </fb:fbml>
</script> 
</fb:serverfbml>


<fb:serverfbml> 
<script type="text/fbml">
    <fb:fbml> 
        <fb:request-form
                action="http://supercraques.com.br:8082/home"
                method="POST"
                invite="true"
                type="Super Craques"
                content='Venha jogar no Super Craques
                    <fb:req-choice url="http://supercraques.com.br:8082/login" 
                    label="Yes" />
                <fb:req-choice url="http://supercraques.com.br:8082/login" 
                    label="No" />
                    '> 
                
                
                <fb:multi-friend-selector
                        showborder="false"
                        actiontext="Convite seu amigo para jogar"
                        rows="3"
                        cols="3"
                        bypass="Cancel"
                        actiontext="teste neoenoe"
                        style="width: 350px;"
                /> 
        </fb:request-form> 
    </fb:fbml>
</script> 
</fb:serverfbml>



<fb:serverfbml>
  <script type="text/fbml">
    <fb:request-form action="http://supercraques.com.br:8082/home"
                     method="POST"
                     invite="true"
                     type="Super Craques"
                     content='Venha jogar no Super Craques. <fb:req-choice url="http://supercraques.com.br:8082/login" label="Yes" /> <fb:req-choice url="http://supercraques.com.br:8082/login" 
                    label="No" />'
      <fb:multi-friend-selector showborder="false"
                                bypass="cancel"
                                rows="3"
                                cols="3"
                                max="1"
                                style="width: 350px;"
                                actiontext="Convite seu amigo para jogar"/>
    </fb:request-form>
  </script>
</fb:serverfbml>



       var profilePicsDiv = document.getElementById('profile_pics');
  FB.api({ method: 'friends.get' }, function(result) {
    var markup = '';
    var numFriends = result ? Math.min(5, result.length) : 0;
    if (numFriends > 0) {
      for (var i=0; i<numFriends; i++) {
        markup += (
          '<fb:profile-pic size="square" ' +
                          'uid="' + result[i] + '" ' +
                          'facebook-logo="true"' +
          '></fb:profile-pic>'
        );
      }
    }
    profilePicsDiv.innerHTML = markup;
    FB.XFBML.parse(profilePicsDiv);
  });


    
    var
  info   = document.getElementById('info'),
  update = function(response) {
    if (!response.session) {
      info.innerHTML = '<em>You must login using the controls at the top.</em>';
      return;
    }

    FB.api(
      {
        method: 'fql.query',
        query: 'SELECT name, pic_square FROM user WHERE uid=' + response.session.uid
      },
      function(response) {
        info.innerHTML = (
          '<img src="' + response[0].pic_square + '"> ' +
          response[0].name
        );
      }
    );
  };

// update on login, logout, and once on page load
FB.Event.subscribe('auth.login', update);
FB.Event.subscribe('auth.logout', update);
FB.getLoginStatus(update);


#fcbklist .itemselected 
{
  background-color:#D7F8AC !important;
  background-image: url(images/checked.png);
  background-repeat:no-repeat;
  background-position:right bottom; 
}



$(".share-button a").click(function(){
          
          FB.login(function(response) {
              if (response.session) {
                if (response.perms) {
                  //message, picture, link, name, caption, description, source
                  //parms = "?message=message neoneo&name=name noenoene&caption=caption neoneoneoe&description=desciption neoeone&picture=http://s.glbimg.com/es/ge/f/original/2010/05/07/site_flamengo.jpg"
                  parms = "?link=http://www.supercraques.com.br&caption=Super Craques&description=Vc foi desafiado para jogar no SuperCraques!!Vai correr?!&picture=http://sabadao-santamonica.zip.net/images/craque.jpg"
                      
                  FB.api('/100001830967449/feed' + parms, 'post', function(response) {
                    if (!response || response.error) {
                      alert('Error occured');
                    } else {
                      alert('Post ID: ' + response);
                    }
                  });
                  
                  
                  //console.log("permissao ACEITA");
                  // user is logged in and granted some permissions.
                  // perms is a comma separated list of granted permissions
                } else {
                  //console.log("permissao NEGADA");
                  alert("permissao NEGADA");
                  // user is logged in, but did not grant any permissions
                }
              } else {
                //console.log("usuario NAO ESTA LOGADO");
                alert("usuario NAO ESTA LOGADO");
                // user is not logged in
              }
            }, {perms:'read_stream,publish_stream,offline_access'});
          
          
          
        });


</%def>

