<%inherit file="/base_logado.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
    <script type="text/javascript"><!--
	$(function() {	

        //bind dos botoes do social
        $(".share-button a").mediaShare();
        
        var $dialog_atletas_card = $("#dialog-atletas-card");
        var $atletaCardTemplate = $("#atletaCardTemplate");
        var $contentDialogAtletaCard = $("#contentDialogAtletaCard");
        
        // criar o popin dos meus cards
        $dialog_atletas_card.dialog({autoOpen: false, height: 400, width: 800, modal: true});

        var barra = $("#supercraque-rodape").barra({}, true);
        
        $(".aceitarDesafioCard").live("click", function() {
            $("#card_id_selecionado", $dialog_atletas_card).val($(this).attr("data"));
            $('#formDesafio', $dialog_atletas_card).submit();
        });
        
        // 
        $(".desafioCard").live("click", function() {
            var $elem = $(this);
            $.ajax({
                url: "/atletas_card.json",
                success: function(data) {
                  $("#desafio_id", $dialog_atletas_card).val($elem.attr("data"));
                  $contentDialogAtletaCard.html("");
                  $atletaCardTemplate.tmpl( data ).appendTo($contentDialogAtletaCard);
                  $dialog_atletas_card.dialog('open');
                },
                error:function(x,e) {
                  alert("error:" + e);
                }
              });
        });


        // buscar e exibe os desafios
        var $boxDesafiosTemplate = $("#box-desafios-template");
        var $boxDesafios = $("#box-desafios");
        $.ajax({
            url: "/desafio/todos.json",
            success: function(result) {
                $boxDesafiosTemplate.tmpl( result.data ).appendTo($boxDesafios);
            },
            error:function(x,e) {
              alert("error:" + e);
            }
        });
        
	});
		
	--></script>
    
</%def>



<%def name="content()">
	<div class="glb-bloco">
		<BR>
		<!-- %include file="/box/box_usuario_info.html"/-->
	</div>

<div class="desafio-title">acompanhe seus <span class="mensagem-principal">desafios</span></div>

<div class="box-desafios" id="box-desafios"></div>

<div id="dialog-atletas-card" title="Meus Cards" style="display:none">
    <form action="/desafio/aceitar" method="POST" id="formDesafio">
        <input type="hidden" value="" id="desafio_id" name="desafio_id" />
        <input type="hidden" value="" id="card_id_selecionado" name="card_id_selecionado" />
        <div id="contentDialogAtletaCard"></div>
    </form>
</div>

<script id="atletaCardTemplate" type="text/x-jquery-tmpl">
    <div class="atletaCard">
        <img height="60" width="60" border="0" src="{{= img}}">
        <BR>
        <div class="player">Nome: {{= nome}}</div>
        <div class="position">Posicao: {{= posicao}}</div>
        <input type="radio" name="radio" value="qualidade" /> Qualidade: {{= qualidade}}<BR>
        <input type="radio" name="radio" value="assiduidade" /> Assiduidade: {{= assiduidade}}<BR>
        <input type="radio" name="radio" value="disciplina" /> Disciplina: {{= disciplina}}<BR>
        <a class="featured aceitarDesafioCard" data="{{= card_id}}">Jogar</a>
    </div>
</script> 

<script id="box-desafios-template" type="text/x-jquery-tmpl">
{{if desafio_enviado == true}}
  <div class="box-card-enviado">
      
      <div class="box-desafio-usuario">
        <div class="desafio-enviado">você <span class="mensagem-principal">desafiou</span></div>
        <img border="0" src="https://graph.facebook.com/{{= usuario_desafiado.id}}/picture">
        <span class="nome-usuario-desafiado cufon">{{= usuario_desafiado.nome}}<p class="data-usuario-desafiado cufon">Em {{= data_criacao}}</p></span>
      </div>
      <div class="box-cards-desafio">
          <div class="card card-desafio-enviado"></div>
          <div class="super-sprite card-desafio-versus"></div>
          <div class="card card-desafio-enviado-aguardando">
              <div class="card-desafio-enviado-messagem">
                  <div class="messagem-aguardando-enviado">AGUARDANDO SEU AMIGO... <BR><b>DÊ UMA CHAMADA NELE!</b></div>
                  <span class="super-sprite btn-cancelar-desafio"></span>
              </div>
          </div>
      </div>          

  </div>
{{else}}
  <div class="box-card-recebido">
      <div class="box-desafio-usuario">
          <div class="desafio-enviado">você foi <span class="mensagem-principal">desafiado!</span></div>
          <div class="box-fantastico">
            <img class="uiProfilePhotoMedium" src="https://graph.facebook.com/{{= usuario_desafiou.id}}/picture">
            <span class="nome-usuario-desafiado cufon">por {{= usuario_desafiado.nome}}<p class="data-usuario-desafiado cufon">Em {{= data_criacao}}</p></span>
          </div>
      </div>
      <div class="box-cards-desafio">
          <div class="card card-desafio-recebido-aguardando">
              <div class="card-desafio-recebido-messagem">
                  <span class="super-sprite img-alert"></span>
                  <div class="messagem-aguardando-recebido">SEU AMIGO ESTÁ AGUARDANDO... <BR><b>E AÍ?</b></div>
                  <span class="super-sprite btn-escolher-card"></span>
                  <span class="super-sprite btn-pular-fora"></span>
              </div>
          </div>
          <div class="super-sprite card-desafio-versus"></div>
          <div class="card card-desafio-recebido"></div>
      </div>
  </div>

{{/if}}
</script> 


</%def>

