<%inherit file="/base_logado.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
    <style>
      .ui-autocomplete {
        max-height: 280px;
        overflow-y: auto;
      }
      /* IE 6 doesn't support max-height
       * we use height instead, but this forces the menu to always be this tall
       */
      * html .ui-autocomplete {
        height: 280px;
      }
  </style>
</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
    <script type="text/javascript">
<!--
  $(function() {  
    
      $('#btn-desafiar-amigo').bind("click",function(){
          usuario_id = $( "#project-id" ).val();
          card_selecionado_id = 31;
          if (usuario_id != "") {
            $.ajax({
                url: "/desafio/card/" + card_selecionado_id + "/usuario_desafiado/"+ usuario_id + "/desafiar",
                success: function(data) {
                    $("#glb-doc").showMessage({response:data});
                },
                error:function(x,e) {
                  $("#glb-doc").showMessage();
                }
              });
          }else {
              $("#glb-doc").showMessage();
          }
      });
    
      $( "#project" ).autocomplete({
          minLength: 2,
          source: "/fb/friends.json",
          focus: function( event, ui ) {
            $( "#project" ).val( ui.item.name );
            return false;
          },
          select: function( event, ui ) {
            $( "#project" ).val( ui.item.name );
            $( "#project-id" ).val( ui.item.id );
            $( "#project-description" ).html( ui.item.name );
            $( "#project-icon" ).html('<img height="40" width="40" border="0"  src="https://graph.facebook.com/'+ ui.item.id + '/picture" >');
            $("#btn-desafiar-amigo").css("cursor", "pointer");
            return false;
          }
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            text_item = '<a>';
            text_item +=  '<img height="40" width="40" border="0"  src="https://graph.facebook.com/'+ item.id + '/picture" >';
            text_item +=  item.name;
            text_item += '</a>';
            return $("<li></li>").data("item.autocomplete", item).append(text_item).appendTo(ul);
         };
      
  });
    
--></script>

</%def>



<%def name="content()">

<BR><BR>

  <div style="display: block;" id="meus-cards-area">
        <div class="glb-conteudo">
            <div class="clear" id="meus-cards-content">
              <div data="51590" class="card card-banca-verde">
                  <div style="margin-top: 10px; margin-left: 10px;">           
                    <img border="0" width="200" height="200" src="http://s.glbimg.com/es/sde/f/2010/11/12/0ea4ac3ba15c1f8d40c0a3f5f1d09292_220x220.jpeg">           
                    <span class="valor-card">$ 25</span>           
                    <span class="super-sprite btn-descartar-card"></span>           
                    <div class="escudo-atleta medio-escudo-padrao medio-vasco"><div alt="Vasco" class="escudo"></div></div>           
                    <div class="faixa-posicao faixa-posicao-nome">Ataque</div>           
                    <div class="card-atleta-nome">Rafael Coelho</div>           <div>             
                      <div class="card-atleta-qualidade">12</div>             
                      <div class="card-atleta-assiduidade">10</div>             
                      <div class="card-atleta-disciplina">-10</div>           
                      </div>         
                  </div>     
              </div>
              <div id="escolha-amigo">
                  <div style="height:250px">
                    <input id="project" size="50" />
                    <input type="hidden" id="project-id"/>
                    <p id="project-description"></p>
                    <p id="project-icon"></p>
                  </div>
                  <div id="btn-desafiar-amigo" class="super-sprite btn-verde-grande">desafiar amigo</div>
              </div>
          </div>
    </div>
</div>
       

</%def>

