<%inherit file="/base.html"/>

<%def name="css()">
    ${parent.css()}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/cards.css" />
</%def>


<%def name="javascript()">
    ${parent.javascript()}
    
    <script type="text/javascript"><!--
	$(function() {	
        //bind dos botoes do social
        $(".share-button a").mediaShare();
	});
		
	--></script>
    
</%def>



<%def name="content()">
	<div class="glb-bloco">
		<BR>
		<%include file="/box/box_usuario_info.html"/>
	</div>

<BR>DESAFIOS<BR>
	<div class="glb-bloco2">
		<BR>
		<%include file="/box/box_desafios_recebidos.html"/>
	</div>
		
  <div class="glb-bloco2">
    <BR>
    <%include file="/box/box_desafios_enviados.html"/>
  </div>




<BR><BR><BR>

 
</%def>

