<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xml:lang="pt-br" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Super Craques</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="/media/css/supercraques.css" />
    <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.media.share.js"></script>

    <script type="text/javascript"><!--
    $(function() {  
      
        $('.fb_button').bind('click', function() {
          FB.login(handleSessionResponse, {perms:'read_stream,publish_stream,offline_access'});
        });
  
        function handleSessionResponse(response) {
            // if we dont have a session, just hide the user info
            if (!response.session) {
              return;
            }
            // redireciona
            window.location = "/auth/login";
         };
  
    });
    --></script>

</head>


<body>
   
  <a class="fb_button fb_button_medium"><span class="fb_button_text">Login</span></a>
  <div><img src="/media/img/facebook.jpeg"> </div>  


  
    
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({
      appId  : '166942923329088',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
     });
  </script>
  
</body>
</html>


