<div class="glb-grid-8" id="time-info">
  % for desafio in desafios_enviados:
      <div class="dados-topo">
        VC DESAFIOU
          <div class="info-time">
          <fb:profile-pic size="small" uid="${desafio.usuario_desafiou_id}" facebook-logo="false" linked="false"></fb:profile-pic>X
          <fb:profile-pic size="small" uid="${desafio.usuario_desafiado_id}" facebook-logo="true" linked="true"></fb:profile-pic>
          </div>
          <div class='tweet-button share-button'>
            <img src="/media/img/social_div.gif" /> <a href='javascript:void(0)' class='facebook' data-text="Provoque seu amigo no eoneoenoeneo facebook" data-url="http://www.supercraques.com.br/" data-url-name="chico" title='Provoque seu amigo no Facebook'><img src="/media/img/facebook_ico.gif" alt='Provoque seu amigo' /></a>
            Provoque seu amigo!
          </div>        

      </div>
  % endfor
 

</div>
