<div class="glb-grid-8" id="card-info">

	% for card in cards:
    <div class="sponsor" title="Click to flip">
      <div class="sponsorFlip">
        <img height="60" width="60" border="0" src="${card['img']}">
        <BR>
        <div class="player">Nome: ${card['nome']}</div>
        <div class="position">Posicao: ${card['posicao']}</div>
        <div class="num">Qualidade: ${card['qualidade']}</div>
        <div class="num">Assiduidade: ${card['assiduidade']}</div>
        <div class="num">Disciplina: ${card['disciplina']}</div>
      </div>
      <div class="sponsorData">NADA AINDA</div>
    </div>
	
	% endfor
    
</div>
